<ion-header  >
  <ion-toolbar >
  <ion-avatar ><img src="assets\icon\grey70_logo-70hWhite.svg"></ion-avatar> <ion-title>Mental Shower</ion-title>
  </ion-toolbar>
 </ion-header>
  
 <ion-content [fullscreen]="true" class="ion-padding">
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light">
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="cash"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="help"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div class="text-top">
  <ion-text><h3><b>Hi {{user}}!!</b></h3></ion-text>
  <ion-text><p>Welcome to Mental Shower by Vent2U</p></ion-text>
</div>
  <ion-grid > 
    <ion-row class="maria-tab1"> 
  <ion-col> 
   <ion-text><p>You need to select a room, the information will be at the door.</p></ion-text>   
  <ion-item>
    
    <ion-icon slot="start"src="../assets/icon/room.svg" ></ion-icon>
    <ion-label >Rooms</ion-label>
    <ion-select interface="popover" >
      <ion-select-option *ngFor="let rooms of RoomsArray" > {{rooms}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-text><p>Inside the room, you need select your Zone that is the number of the table.</p></ion-text>
  <ion-item>
    <ion-icon slot="start"src="../assets/icon/table.svg" ></ion-icon>
    <ion-label>Zones</ion-label>
    <ion-select interface="popover">
      <ion-select-option *ngFor="let zones of ZonesArray" > {{Zones}} </ion-select-option>
  </ion-select>
  </ion-item>
  
  <ion-text><p>Pick your chair, they are only 4 per table.</p></ion-text>
  <ion-item>
    <ion-icon slot="start"src="../assets/icon/chair.svg" ></ion-icon>
    <ion-label>Chairs</ion-label>
    <ion-select interface="popover">
      
      <ion-select-option *ngFor="let chairs Of ChairsArray" >{{Chairs}} </ion-select-option>
    </ion-select>
  </ion-item>
  </ion-col>
</ion-row>
</ion-grid>

<ion-button routerLink="/zona-status"  expand="block" >SAVE</ion-button>
<label class="error-message">{{errorMessage}}</label>
<label class="success-message">{{successMessage}}</label>
</ion-content>
<footer>
  <div><ion-tab-bar slot="bottom" >
    <ion-tab-button href="tab3">
      <ion-icon src="./assets/icon/home.svg" ></ion-icon>
      
    </ion-tab-button>
  
    <ion-tab-button href="tab1">
      <ion-icon src="./assets/icon/temperature.svg" ></ion-icon>
      
    </ion-tab-button>
  
    <ion-tab-button href="tab2">
      <ion-icon src="./assets/icon/poll2.svg"></ion-icon>
     
    </ion-tab-button>
  </ion-tab-bar> </div>
</footer>



 
